////// Base Colors /////////// 
    
$white: white;
$black: black;

///LeftSide Bar Colors//////
$left-menu-bg: #242424;
$link-head-color: #777;
$hover-text: #6ccce5;


// site colors/////
$border-color: rgba(255,255,255,0.2);
$border-hover-color: lightgrey;
$bg-color: #a6c2cd;
$animation-border-color: #66cae0;
$find-solutions-bg: #282828;
$mobile-soulutions-bg: #f7f9f9;
$mobile-border: #ececec;
$all-product-text:  #333;
$input-border: #e5e5e5;
$input-text-color:  #999;