body, html {
  height: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("http://cdn.shopify.com/s/files/1/2031/5633/files/Landing_1600x.jpg?v=1505827704");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;
  background-color: #a6c2cd;
}
@media only screen and (max-width: 950px) {
  .main-container {
    background-image: url("http://cdn.shopify.com/s/files/1/2031/5633/files/mobile_960x.jpg?v=1510074848");
  }
  .main-container .find-solutions-mobile {
    display: flex;
  }
}
.main-container .header .link:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #66cae0;
  transition: width 0.3s;
}
.main-container .header .header-solution {
  display: none;
  height: 130px;
  border-top: 1px solid lightgrey;
  background-color: white;
}
@keyframes shimmy {
  0% {
    transform: translatYe(0);
    opacity: 0;
  }
  10% {
    transform: translateY(-1px);
    opacity: 0.1;
  }
  20% {
    transform: translateY(-2px);
    opacity: 0.2;
  }
  30% {
    transform: translateY(-3px);
    opacity: 0.3;
  }
  40% {
    transform: translateY(-4px);
    opacity: 0.4;
  }
  50% {
    transform: translateY(-5px);
    opacity: 0.5;
  }
  60% {
    transform: translateY(-6px);
    opacity: 0.6;
  }
  70% {
    transform: translateY(-7px);
    opacity: 0.7;
  }
  80% {
    transform: translateY(-8px);
    opacity: 0.8;
  }
  90% {
    transform: translateY(-9px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(-10px);
    opacity: 1;
  }
}
.main-container .header .header-solution .header-solution-item {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
  margin-top: 20px;
}
.main-container .header .header-solution .header-solution-item:hover .link::after {
  width: 100%;
}
.main-container .header .header-solution .header-solution-item a {
  text-decoration: none;
}
.main-container .header .header-solution .header-solution-icon {
  filter: invert(100%);
}
.main-container .header .header-solution .header-solution-text {
  color: black;
  padding-top: 15px;
}
.main-container .header .menu {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}
@media only screen and (max-width: 950px) {
  .main-container .header .menu .menu-left-items {
    display: none;
  }
  .main-container .header .menu .menu-right-items {
    display: none;
  }
  .main-container .header .menu .open-slide {
    display: block;
  }
  .main-container .header .menu .menu-right-items-mobile {
    display: flex;
  }
}
.main-container .header .menu:hover {
  background-color: white;
}
.main-container .header .menu:hover .link {
  color: black;
}
.main-container .header .menu:hover .left-item {
  border-right: 1px solid lightgrey;
}
.main-container .header .menu:hover .right-item {
  border-left: 1px solid lightgrey;
}
.main-container .header .menu:hover .logo {
  filter: none;
}
.main-container .header .menu:hover .menu-icon {
  stroke: black;
}
.main-container .header .menu:hover .menu-right-items-mobile img {
  filter: none;
}
.main-container .header .menu-left-items {
  display: flex;
}
.main-container .header .menu-left-items .left-item {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.main-container .header .menu-right-items {
  display: flex;
}
.main-container .header .menu-right-items .right-item {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.main-container .header .menu-item {
  padding: 0 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main-container .header .menu-item a {
  color: white;
  text-decoration: none;
}
.main-container .header .menu-item:hover .link::after {
  width: 100%;
}
.main-container .header .menu .logo {
  display: flex;
  align-items: center;
  filter: invert(100%);
}
.main-container .product-description {
  color: white;
  max-width: 341px;
  margin-left: 120px;
  line-height: 1.7em;
  position: absolute;
  bottom: 400px;
}
.main-container .product-description .title {
  font-family: initial;
  font-size: 44px;
  margin-bottom: 17px;
}
.main-container .product-description .description {
  font-size: 19px;
  font-weight: 300;
}
.main-container .solution-bar {
  display: flex;
  height: 130px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 950px) {
  .main-container .solution-bar {
    display: none;
  }
}
.main-container .solution-bar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  cursor: pointer;
}
.main-container .solution-bar-item:hover {
  color: black;
  background-color: white;
}
.main-container .solution-bar-item:hover .solution-icon {
  filter: invert(100%);
}
.main-container .solution-bar-item:hover .solution-text1 {
  display: none;
}
.main-container .solution-bar-item:hover .solution-text2 {
  display: block;
}
.main-container .solution-bar-item .solution-icon {
  height: 27px;
  width: 27px;
  margin-top: 20px;
}
.main-container .solution-bar-item .solution-text1 {
  display: block;
  padding-top: 15px;
}
.main-container .solution-bar-item .solution-text2 {
  display: none;
  padding-top: 15px;
}

.fonts {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12.5px;
  letter-spacing: 0.1em;
  font-style: normal;
}

.open-slide {
  display: none;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 15px;
}

.menu-right-items-mobile {
  display: none;
  align-items: center;
}
.menu-right-items-mobile :first-child {
  margin-right: 10px;
}
.menu-right-items-mobile img {
  filter: invert(100%);
  cursor: pointer;
}

.find-solutions-mobile {
  display: none;
  justify-content: center;
  align-items: center;
  bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  position: fixed;
  background: #282828;
  color: white;
  left: 0;
  right: 0;
  padding: 15px 0;
  cursor: pointer;
}
.find-solutions-mobile:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 0;
  background: -moz-linear-gradient(left, #64a3d9 0%, #3ac7f4 50%, #6ccce5 100%);
  background: -webkit-linear-gradient(left, #64a3d9 0%, #3ac7f4 50%, #6ccce5 100%);
  background: linear-gradient(to right, #64a3d9 0%, #3ac7f4 50%, #6ccce5 100%);
  transition: width 0.3s linear;
}
.find-solutions-mobile:hover::after {
  width: 100%;
}
.find-solutions-mobile p {
  margin-bottom: 0;
  font-size: 0.9em;
}
.find-solutions-mobile img {
  filter: invert(100%);
  margin-right: 10px;
}

.solution {
  display: flex;
  flex: 1;
}

@media only screen and (max-width: 950px) {
  .solution-bar {
    overflow-y: scroll;
    height: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f9f9;
  }
  .solution-bar .all-product {
    display: block;
  }
  .solution-bar .search {
    display: block;
  }
  .solution-bar .bottom {
    display: block;
  }
  .solution-bar .solution-text1 {
    color: black;
  }
  .solution-bar .solution {
    display: flex;
    background-color: #f7f9f9;
    align-items: center;
  }
  .solution-bar .solution img {
    filter: invert(100%);
  }
  .solution-bar .solution .solution-bar-item {
    padding: 20px 0;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
}
.all-product {
  display: none;
  text-align: center;
  border-top: 1px solid lightgrey;
  padding: 45px 0;
  color: #333;
  background-color: #f7f9f9;
}
.all-product:hover {
  background-color: white;
}

.search {
  display: none;
}
.search input[type=text] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 20px 25px 60px;
  font-size: 18px;
  font-weight: bold;
  touch-action: none;
}
.search img {
  position: absolute;
  top: 27px;
  left: 20px;
  cursor: pointer;
}

input[type=text]::placeholder {
  color: #999;
  opacity: 0.5;
}

.bottom {
  display: none;
  padding: 20px;
  border-top: 1px solid lightgrey;
}

/*# sourceMappingURL=style.css.map */
